@model BrochureSubmissionModel
@{
    ViewBag.Title = "Caxton Comedy what's on guide";
}
<div class="row">

    <h2>Caxton Comedy what's on guide</h2>
    </div>
    <div class="row">
        @using (Html.BeginForm("Brochure", "Home", FormMethod.Post, new { @class = "col-md-10", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>Enter your details on the form below...</h3>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(x => x.Name, new { @class = "col-md-4 control-label required" })
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.StageName, new { @class = "col-md-4 control-label required" })
                    @Html.TextBoxFor(x => x.StageName, new { @class = "form-control required" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "col-md-4 control-label required" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.TwitterHandle, new { @class = "col-md-4 control-label" })
                    @Html.TextBoxFor(x => x.TwitterHandle, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Bio, new { @class = "col-md-4 control-label" })
                    @Html.TextAreaFor(x => x.Bio, new { @class = "form-control", rows = 8 })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.TicketPrice, new { @class = "col-md-4 control-label" })
                    @Html.TextBoxFor(x => x.TicketPrice, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Photo, new { @class = "col-md-4 control-label" })
                    @Html.TextBoxFor(x => x.Photo, new { @class = "form-control", type = "File", accept = "image/png, image/jpeg" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.AdditionalInfo, new { @class = "col-md-4 control-label" })
                    @Html.TextAreaFor(x => x.AdditionalInfo, new { @class = "form-control", rows = 8 })
            </div>
            <div class="g-recaptcha" data-sitekey="6LeQjnMUAAAAAIL1SEAL8Q1IEUqc_ZFVUuGjd1YM"></div>

            <div class="form-group">
                <div class="col-md-8">
                    <input type="submit" class="btn btn-default col-md-8 pull-right" value="Submit form" />
                </div>
            </div>
        }
    </div>
